<div class="card flex justify-center relative">
  <p-drawer [(visible)]="visible">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <h2>{{ 'header.hamburger.title' | translate }}</h2>
      </div>
    </ng-template>
    <nav class="flex flex-col gap-2">
      <div class="flex justify-end">
        <a
          routerLink="/songs"
          routerLinkActive="active"
          class="flex items-center justify-between w-full max-w-xs"
        >
          <span>{{ 'header.hamburger.nav.songs' | translate }}</span>
          <i class="pi pi-arrow-right"></i>
        </a>
      </div>
      <div class="flex justify-end">
        <a
          routerLink="/artists"
          class="flex items-center justify-between w-full max-w-xs"
        >
          <span>{{ 'header.hamburger.nav.albums' | translate }}</span>
          <i class="pi pi-arrow-right"></i>
        </a>
      </div>
      <div class="flex justify-end">
        <a
          routerLink="/companies"
          class="flex items-center justify-between w-full max-w-xs"
        >
          <span>{{ 'header.hamburger.nav.companies' | translate }}</span>
          <i class="pi pi-arrow-right"></i>
        </a>
      </div>
    </nav>
  </p-drawer>

  <div class="absolute inset-x-0 top-0 flex justify-center items-center pt-2">
    <h1 class="text-xl font-bold">Mi colección de música</h1>
  </div>

  <div class="w-full flex justify-between items-center">
    <div class="ml-1 mt-1">
      <p-button
        variant="text"
        (click)="visible = true"
        icon="pi pi-bars"
      ></p-button>
    </div>
  </div>
</div>

<p-divider type="solid" />
