<div class="card relative px-4 py-2">
  <div class="flex items-center justify-between gap-4">
    <div class="flex items-center">
      <p-button
        variant="text"
        (click)="$drawerVisible.set(true)"
        icon="pi pi-bars"
      ></p-button>
    </div>

    <div class="flex-grow text-center">
      <h1 class="text-xl font-bold">{{ 'header.title' | translate }}</h1>
    </div>

    <div class="hidden sm:block">
      <div class="flex items-center">
        <app-language-select />
      </div>
    </div>

    <div class="sm:hidden">
      <p-button icon="pi pi-language" (click)="openLanguageDialog()" />
    </div>
  </div>

  <app-drawer
    [drawerVisible]="$drawerVisible()"
    (drawerClosed)="$drawerVisible.set(false)"
  />
</div>

<p-divider type="solid" />
